body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border-top: 1px solid white;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 25px;
  margin: auto;
}

p{
  margin-top: auto;
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.current-time{
  min-height: 20px;
}

.description{
  padding: 25px;
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding: 30px;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  text-align: center;
  background-size: auto;
  margin-top:auto;
  margin-left:0px;
  padding: 30px 30px 30px 30px;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  color: black;
}

.col-1 {
  padding-left: 0px !important; 
  padding-right: 0px !important; 
}